@model AplicatieCamine.Models.Tichet

@{
    ViewData["Title"] = "Delete";
    string imp;
    string im;
    string rez;
    string re;
}

<link rel="stylesheet" href="~/css/styleTable.css">
<style>
    .rezolvat {
        color: green;
        text-align: center;
    }

    .nerezolvat {
        color: black;
        text-decoration: underline;
        text-align: center;
    }

    .important {
        color: red;
        text-align: center;
    }

    .neimportant {
        color: black;
        text-decoration: underline;
        text-align: center;
    }

</style>
<div class="container-fluid d-flex justify-content-center mb-auto">
    <div class="cardCreate">
        <div class="card-header header-elements-inline ml-50 justify-content-center">
            <h5 style="font-family:Garamond,serif; font-size: 40px"><b>Sigur vrei să ștergi?</b></h5>
        </div>
        <div class="container-fluid justify-content-center">
            <div class="col-sm-15">
                <p style="font-family:Garamond,serif; font-size: 18px; text-align:center">
                    <b>ID Tichet:</b>
                    @Html.DisplayFor(model => model.IdTichet)
                </p>
            </div>
            <div class="col-sm-15">
                <p style="font-family:Garamond,serif; font-size: 18px; text-align:center">
                    <b>Dată Emitere:</b>
                    @Html.DisplayFor(model => model.DataEmitere)
                </p>
            </div>
            <div class="col-sm-15">
                <p style="font-family:Garamond,serif; font-size: 18px;text-align:center">
                    <b>Dată Rezolvare:</b>
                    @Html.DisplayFor(model => model.DateRezolvare)
                </p>
            </div>
            <div class="col-sm-15">
                <p style="font-family:Garamond,serif; font-size: 18px; text-align:center">
                    @if (Model.StatusTichet)
                    {
                        rez = "Tichetul este REZOLVAT!";
                        re = "rezolvat";
                    }
                    else
                    {
                        rez = "Tichet NEREZOLVAT!";
                        re = "nerezolvat";
                    }
                <p class="@re"><b>@rez</b></p>
            </div>
            <div class="col-sm-15">
                <p style="font-family:Garamond,serif; font-size: 18px;text-align:center">
                    <b>@Html.DisplayNameFor(model => model.Detalii):</b>
                    @Html.DisplayFor(model => model.Detalii)
                </p>
            </div>
            <div class="col-sm-15">
                <p style="font-family:Garamond,serif; font-size: 18px; text-align:center">
                    @if (Model.TipTichet)
                    {
                        imp = "Tichetul este IMPORTANT!";
                        im = "important";
                    }
                    else
                    {
                        imp = "Tichetul NU este important!";
                        im = "neimportant";
                    }
                <p class="@im"><b> @imp</b></p>
            </div>
            <div class="col-sm-15">
                <p style="font-family:Garamond,serif; font-size: 18px; text-align:center">
                    <b>Număr Student: </b>
                    @Html.DisplayFor(model => model.IdStudentNavigation.IdStudent)
                </p>
            </div>
            <div class="col-sm-15">
                <p style="font-family:Garamond,serif; font-size: 18px; text-align:center">
                    <b>ID Cameră: </b>
                    @Html.DisplayFor(model => model.IdCamera)
                </p>
            </div>
            @if (System.IO.File.Exists(GlobalVariables.env + "\\TichetImages\\1.jpg"))
            {
                <div style="width:40%;margin-left:30%;height:100px;">
                    <a href="@Url.Content("/TichetImages/1.jpg")" target="_blank"><img src="@Url.Content("/TichetImages/1.jpg")" style="width:100%; height:80%;" /></a>
                </div>
            }
        </div>
        <div class="mx-auto mb-2">
            <form asp-action="Delete">
                <input type="hidden" asp-for="IdCamera" />
                <input type="submit" value="Șterge" class="btn btn-danger" />
            </form>
        </div>
        <a class="ml-5" asp-action="Index">Înapoi</a>
    </div>
</div>