@model AplicatieCamine.Models.Tichet

@{
    ViewData["Title"] = "Details";
    string u = User.Identity.Name;
    string usr = u.Split('@')[0];
    bool isAdmin = false;
    if (!char.IsDigit(usr[usr.Length - 1]))
    {
        isAdmin = true;
    }
    string imp;
    string im;
    string rez;
    string re;
}

<style>
    .create_button {
        border: none;
        color: white;
        background-color: #008CBA;
        padding: 5px 15px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        transition-duration: 0.6s;
        margin: 5px 0 5px 10px;
    }
    .rezolvat{
        color: green;
        text-align:center;
    }
    .nerezolvat {
        color: black;
        text-decoration: underline;
        text-align: center;
    }
    .important {
        color: red;
        text-align: center;
    }
    .neimportant {
        color: black;
        text-decoration: underline;
        text-align: center;
    }
</style>
<link rel="stylesheet" href="~/css/styleTable.css">

<div class="container-fluid d-flex justify-content-center mb-auto">
    <div class="cardCreate">
        <div class="card-header header-elements-inline ml-50 justify-content-center">
            <h5 style="font-family:Garamond,serif; font-size: 40px"><b>Detalii Tichet</b></h5>
        </div>
        <div class="container-fluid justify-content-center">
            <div class="col-sm-15">
                <p style="font-family:Garamond,serif; font-size: 18px; text-align:center">
                    <b>ID Tichet:</b>
                    @Html.DisplayFor(model => model.IdTichet)
                </p>
            </div>
            <div class="col-sm-15">
                <p style="font-family:Garamond,serif; font-size: 18px; text-align:center">
                    <b>Data Emiterii:</b>
                    @Html.DisplayFor(model => model.DataEmitere)
                </p>
            </div>
            <div class="col-sm-15">
                <p style="font-family:Garamond,serif; font-size: 18px;text-align:center">
                    <b>Data de rezolvare:</b>
                    @Html.DisplayFor(model => model.DateRezolvare)
                </p>
            </div>
            <div class="col-sm-15">
                <p style="font-family:Garamond,serif; font-size: 18px; text-align:center">
               
                    @if (Model.StatusTichet)
                    {
                        rez = "Tichetul este REZOLVAT!";
                        re = "rezolvat";
                    }
                    else
                    {
                        rez = "Tichet NEREZOLVAT!";
                        re = "nerezolvat";
                    }
                <p class="@re"><b>@rez</b></p>
                </p>
            </div>
            <div class="col-sm-15">
                <p style="font-family:Garamond,serif; font-size: 18px;text-align:center">
                    <b>@Html.DisplayNameFor(model => model.Detalii):</b>
                    @Html.DisplayFor(model => model.Detalii)
                </p>
            </div>
            <div class="col-sm-15">
                <p style="font-family:Garamond,serif; font-size: 18px; text-align:center">
                   
                    @if (Model.TipTichet)
                    {
                        imp = "Tichetul este IMPORTANT!";
                        im = "important";
                    }
                    else
                    {
                        imp = "Tichetul NU este important!";
                        im = "neimportant";
                    }
                    <p class="@im"><b> @imp</b></p>
                </p>
            </div>
            <div class="col-sm-15">
                <p style="font-family:Garamond,serif; font-size: 18px; text-align:center">
                    <b>Numarul Studentului: </b>
                    @Html.DisplayFor(model => model.IdStudentNavigation.IdStudent)
                </p>
            </div>
            <div class="col-sm-15">
                <p style="font-family:Garamond,serif; font-size: 18px; text-align:center">
                    <b>ID Cameră: </b>
                    @Html.DisplayFor(model => model.IdCamera)
                </p>
            </div>
        </div>
        <div class="mx-auto mb-2">
            @if (isAdmin)
            {
                <a asp-action="Tichete" class="create_button">Înapoi</a>
            }
            else
            {
                <a asp-action="Index" class="create_button">Înapoi</a>
            }
        </div>
    </div>
</div>