@model AplicatieCamine.Models.Tichet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tichet</h4>
    <hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DataEmitere)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DataEmitere)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DateRezolvare)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DateRezolvare)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.StatusTichet)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.StatusTichet)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Detalii)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Detalii)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.TipTichet)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.TipTichet)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.IdStudentNavigation)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.IdStudentNavigation.IdStudent)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.IdCamera)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.IdCamera)
		</dd>
	</dl>
</div>
<div>
	@if(User.IsInRole("admin"))
    <a asp-action="Edit" asp-route-id="@Model.IdTichet">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
