@model IEnumerable<AplicatieCamine.Models.Tichet>

@{
    ViewData["Title"] = "Index";
}

<h1>Tichete din Admin</h1>

<p>
    <a asp-action="Create">Add data</a>
</p>
<table class="table">
    <thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.IdTichet)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DataEmitere)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DateRezolvare)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.StatusTichet)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Detalii)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TipTichet)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IdStudentNavigation)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IdCamera)
			</th>
			<th></th>
		</tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.IdTichet)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DataEmitere)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DateRezolvare)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.StatusTichet)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Detalii)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.TipTichet)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.IdStudentNavigation.IdStudent)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.IdCamera)
			</td>
			<td>
				<a asp-action="Edit" asp-route-id="@item.IdTichet">Edit</a> |
				<a asp-action="Details" asp-route-id="@item.IdTichet">Details</a> |
				<a asp-action="Delete" asp-route-id="@item.IdTichet">Delete</a>
			</td>
		</tr>
}
    </tbody>
</table>
