@model IEnumerable<AplicatieCamine.Models.Tichet>
@using System.Text.Json;
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
@{
    ViewData["Title"] = "Index";
    var serializer = Json.Serialize(Model);
    var filtered = Json.Serialize(Model);
    string important;
    string rezolvat;
    string da;
    string path;
    string feedb;

}
@section Scripts{
    <script>
		$(document).ready(function () {
			content = $("#tichet_body");
			$("#filterTichets").attr("checked", true);
			loadData(@filtered);
			$("#filterTichets").click(function (event) {
				if ($("#filterTichets").is(":checked")) {
					@{
						filtered = Json.Serialize(Model.Where(entry => entry.StatusTichet == true));
					}
					loadData(@filtered);
				} else {
					loadData(@serializer);
				}
			});
		});

		function loadData(jsonData) {
			content.empty();
			jsonData.forEach(function (item) {
				content.append(displayItem(item));
			});
		}

		function displayItem(item) {
			statusTichet = (item["statusTichet"] === false ? "NEREZOLVAT" : "REZOLVAT");
			row = "<tr>";
			item.forEach((key, value) => {
				row += "<td>" + value + "</td>";
			});
			row += "<td>" + statusTichet + "</td>" + "</tr>";
			return row;
		}

    </script>
}
    <link rel="stylesheet" href="~/css/styleTable.css">

    <style>
        main {
            flex-direction: column;
        }

        .create_button {
            border: none;
            color: white;
            background-color: #008CBA;
            padding: 5px 15px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            cursor: pointer;
            transition-duration: 0.6s;
            margin: 5px 0 5px 10px;
        }

        .da {
            color: green;
        }

        .nu {
            color: red;
        }
    </style>

    <div class="container-fluid d-flex justify-content-center mb-auto">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 style="font-family:Garamond,serif; font-size: 40px">Tichet</h5>
                <div class="mb-2">
                    <label for="checker">Nerezolvate:  </label> <input type="checkbox" name="checker" id="checker filterTichets" />
                    <a asp-action="Create" class="create_button">Adaugă!</a>
                    <a asp-controller="Home" asp-action="Index" class="create_button">Înapoi</a>
                </div>
            </div>

            <div class="table-responsive ">
               
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                ID Tichet
                            </th>
                            <th>
                                Data Emiterii
                            </th>
                            <th>
                                Data Rezolvare
                            </th>
                            <th>
                                Rezolvat?
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Detalii)
                            </th>
                            <th>
                                Important?
                            </th>
                            <th>
                                ID Student
                            </th>
                            <th>
                                ID Cameră
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Feedback)
                            </th>
                            <th>
                                Poză
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        @foreach (var item in Model)
                        {
                            string file_name = item.FileName;
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdTichet)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataEmitere)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateRezolvare)
                                </td>
                                <td>
                                    @if (@item.StatusTichet)
                                    {
                                        important = "DA";
                                        da = "da";
                                    }
                                    else
                                    {
                                        important = "NU";
                                        da = "nu";
                                    }
                                    <p class="@da"><b>@important</b></p>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Detalii)
                                </td>
                                <td>
                                    @if (@item.TipTichet)
                                    {
                                        rezolvat = "DA";
                                        da = "da";
                                    }
                                    else
                                    {
                                        rezolvat = "NU";
                                        da = "nu";
                                    }
                                    <p class="@da"><b>@rezolvat</b></p>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdStudentNavigation.IdStudent)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdCamera)
                                </td>
                                <td>
                                    @if (item.Feedback == null)
                                    {
                                        <p>Niciun feedback.</p>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.Feedback)
                                    }
                                </td>
                                <td>
                                    @{path = "~/TichetImages/" + file_name;}
                                    @if (path == "~/TichetImages/")
                                    {
                                        <p><u>Fără poză!</u></p>
                                    }
                                    else
                                    {

                                        <a href="@Url.Content("~/TichetImages/" + file_name)"><img src="@Url.Content("~/TichetImages/" + file_name)" width="40" height="40" /></a>
                                    }
                                </td>
                                <td colspan="3">
                                    <a asp-action="Edit" asp-route-id="@item.IdTichet">Editează</a> |
                                    <a asp-action="Details" asp-route-id="@item.IdTichet">Detalii</a> |
                                    <a asp-action="Delete" asp-route-id="@item.IdTichet">Șterge</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
