@model dynamic

@{
    ViewData["Title"] = "Tichete";
    var tichete = Model.Tichet;
    var nr_camera = Model.Camera;
}
<link rel="stylesheet" href="~/css/styleTable.css">
<style>
    main {
        flex-direction: column;
    }

    .create_button {
        border: none;
        color: white;
        background-color: #008CBA;
        padding: 5px 15px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        transition-duration: 0.6s;
        margin: 5px 0 5px 10px;
    }
</style>
<div class="container-fluid d-flex justify-content-center mb-auto">
    <div class="card w-75 p-3">
        <div class="card-header header-elements-inline">
            <h5 style="font-family:Garamond,serif;font-size: 40px">Tichetele tale</h5>
            <div class="mb-2">
                <a asp-action="CreateTichetST" class="create_button">Creează tichet nou!</a>
                <a asp-controller="Home" asp-action="Index" class="create_button">Înapoi</a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                </thead>
				<tbody>
					@if (Enumerable.Count(tichete) == 0 || nr_camera == -1)
					{
						<tr>
							<td></td>
							<td>
								<h1 style="font-family:Garamond,serif; text-align:center; color:red">Momentan nu ai niciun tichet!</h1>
							</td>
							<td></td>
						</tr>
					}
					else
					{
						<tr>
							<th>
								IdTichet
							</th>
							<th>
								DataEmitere
							</th>
							<th>
								DateRezolvare
							</th>
							<th>
								StatusTichet
							</th>
							<th>
								Detalii
							</th>
							<th>
								NrCamera
							</th>
							<th>
								Importanta
							</th>
							<th>
								Feedback
							</th>
							<th></th>
						</tr>
						@foreach (var item in tichete)
						{
							string importanta = (item.TipTichet ? "DA" : "NU");
							string rezolvat = (item.StatusTichet ? "Rezolvat" : "Nerezolvat");
							<tr>
								<td>
									@item.IdTichet
								</td>
								<td>
									@item.DataEmitere
								</td>
								<td>
									@item.DateRezolvare
								</td>
								<td>
									@rezolvat
								</td>
								<td>
									@item.Detalii
								</td>
								<td>
									@nr_camera
								</td>
								<td>
									@importanta
								</td>
								<td>
									@item.Feedback
								</td>
								<td>
									<a asp-action="Details" asp-route-id="@item.IdTichet">Detalii</a>
								</td>
							</tr>
						}
					}
				</tbody>
            </table>
        </div>
    </div>
</div>
