@model AplicatieCamine.Models.Tichet

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tichet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEmitere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEmitere)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateRezolvare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateRezolvare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusTichet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusTichet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detalii)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detalii)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipTichet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipTichet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdStudentNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdStudentNavigation.IdStudent)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdTichet" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
