@model IEnumerable<AplicatieCamine.Models.Camine>
@using System;
@{
    int i = 0;
    var cimages = Url.Content("~/Images/camine/");
    ViewData["Title"] = "Lista Camine";
    int count = System.IO.Directory.EnumerateFiles(@"wwwroot/Images/camine").Count<string>();
    Random r = new Random();
	<div class="camine">
		@foreach (var item in Model)
        {
            i = i + 1;
            string nr = i.ToString();
            string rand = cimages + @nr + ".jpg";
            string myModal = "myModal" + @item.IdCamin;
			<div>
				<div class="col text-center">
					<form asp-action="Camere">
						<input type="number" name="cnr" value="@Html.DisplayFor(modelItem => item.IdCamin)" style="display: none;" />
						<input type="submit" class="myButton" name="cid" value="Cămin @Html.DisplayFor(modelItem => item.IdCamin)" />
					</form>
				</div>
				<br>
				<div class="container" style="width:400px; height:300px;">
					<img src="@rand" class="img-thumbnail rounded w-100 h-100 shadow-2-strong" />
				</div>
				<br>
				<div class="container" style="width:400px;">
					<button type="button" class="btn btn-dark btn-lg btn-block mr-2" data-toggle="modal" data-target="#@myModal">
						Facilități <i class="fa fa-bed"></i>
					</button>
				</div>
				<br>
				<!-- The Modal -->
				<div class="modal fade" id="@myModal">
					<div class="modal-dialog">
						<div class="modal-content">
							<!-- Modal Header -->
							<div class="modal-header text-center">
								<h4 class="modal-title w-100"> Cămin @Html.DisplayFor(modelItem => item.IdCamin) </h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
							<!-- Modal body -->
							<div class="modal-body">
								<p> @Html.DisplayFor(modelItem => item.Descriere)</p>
							</div>
							<!-- Modal footer -->
							<div class="modal-footer">
								<button type="button" class="btn btn-danger" data-dismiss="modal">Închide</button>
							</div>
						</div>
					</div>
				</div>
			</div>

		}
	</div>
}
