@model AplicatieCamine.Models.Camine

@{
    ViewData["Title"] = "Delete";
}

<style>
    .create_button {
        border: none;
        color: white;
        background-color: #008CBA;
        padding: 5px 15px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        transition-duration: 0.6s;
        margin: 5px 0 5px 10px;
    }
</style>
<link rel="stylesheet" href="~/css/styleTable.css">

<div class="container-fluid d-flex justify-content-center mb-auto">
    <div class="cardCreate">
        <div class="card-header header-elements-inline ml-50 justify-content-center">
            <h5 style="font-family:Garamond,serif; font-size: 40px"><b>Sigur vrei să ștergi?</b></h5>
        </div>
        <div class="container-fluid justify-content-center">
            <div class="col-sm-15">
                <p style="font-family:Garamond,serif; font-size: 18px; text-align:center">
                    <b>Adresă:</b>
                    @Html.DisplayFor(model => model.Adresa)
                </p>
            </div>
            <div class="col-sm-15">
                <p style="font-family:Garamond,serif; font-size: 18px;text-align:center">
                    <b>Numărul camerelor în cămin:</b>
                    @Html.DisplayFor(model => model.NrCamere)
                </p>
            </div>
            <div class="col-sm-15">
                <p style="font-family:Garamond,serif; font-size: 18px; text-align:center">
                    <b>Număr locuri în cămin:</b>
                    @Html.DisplayFor(model => model.NrLocuri)
                </p>
            </div>
            <div class="col-sm-15">
                <p style="font-family:Garamond,serif; font-size: 18px;text-align:center">
                    <b>@Html.DisplayNameFor(model => model.Facultate):</b>
                    @Html.DisplayFor(model => model.Facultate)
                </p>
            </div>
            <div class="col-sm-15">
                <p style="font-family:Garamond,serif; font-size: 18px; text-align:center">
                    <b>Descriere cămin: </b>
                    @Html.DisplayFor(model => model.Descriere)
                </p>
            </div>
        </div>
        <div class="mx-auto mb-2">
            <form asp-action="Delete">
                <input type="hidden" asp-for="IdCamin" />
                <input type="submit" value="Șterge" class="btn btn-danger" />
            </form>
        </div>
        <a class="ml-5" asp-action="Index">Înapoi</a>
    </div>
</div>