@model IEnumerable<AplicatieCamine.Models.Camine>
@using System;
@{
    ViewData["Title"] = "Index";
    int count = System.IO.Directory.EnumerateFiles(@"wwwroot/Images/camine").Count<string>();
}
<link rel="stylesheet" href="~/css/styleTable.css">
<style>
    main {
        flex-direction: column;
    }

    .create_button {
        border: none;
        color: white;
        background-color: #008CBA;
        padding: 5px 15px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        transition-duration: 0.6s;
        margin: 5px 0 5px 10px;
    }
</style>
<div class="container-fluid d-flex justify-content-center mb-auto">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 style="font-family:Garamond,serif;font-size: 40px">Cămine</h5>
            <div class="mb-2">
                <a asp-action="Create" class="create_button">Adaugă!</a>
                <a asp-controller="Home" asp-action="Index" class="create_button">Înapoi</a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.IdCamin)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Adresa)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NrCamere)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NrLocuri)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Facultate)
                        </th>
                        <th>
                            Images
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Descriere)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        Random r = new Random();
                        string rand = "Images/camine/" + r.Next(1, count).ToString() + ".jpg";
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdCamin)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Adresa)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NrCamere)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NrLocuri)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Facultate)
                            </td>
                            <td>
                                <img src="@rand" width="50" height="50" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descriere)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.IdCamin">Editează</a> |
                                <a asp-action="Details" asp-route-id="@item.IdCamin">Detalii</a> |
                                <a asp-action="Delete" asp-route-id="@item.IdCamin">Șterge</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>