@model IEnumerable<AplicatieCamine.Models.Camine>

@{
    ViewData["Title"] = "Index";
}

<h1>Cămine</h1>

<p>
    <a asp-action="Create">Add data</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCamin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrCamere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrLocuriNormale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrLocuriErasmus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrLocuriSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facultate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCamin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrCamere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrLocuriNormale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrLocuriErasmus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrLocuriSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facultate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCamin">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCamin">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCamin">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
