@model AplicatieCamine.Models.Camere

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Camere</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LimitaNrStudenti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LimitaNrStudenti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrStudentiCazati)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrStudentiCazati)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descriere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descriere)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipCamera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipCamera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCaminNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCaminNavigation.Adresa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCamera">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
