@model AplicatieCamine.Models.Administratori

@{
    ViewData["Title"] = "Details";
}

<style>
    .create_button {
        border: none;
        color: white;
        background-color: #008CBA;
        padding: 5px 15px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        transition-duration: 0.6s;
        margin: 5px 0 5px 10px;
    }
</style>
<link rel="stylesheet" href="~/css/styleTable.css">

<div class="container-fluid d-flex justify-content-center mb-auto">
    <div class="cardCreate">
        <div class="card-header header-elements-inline ml-50 justify-content-center">
            <h5 style="font-family:Garamond,serif; font-size: 40px"><b>Detalii Administrator</b></h5>
        </div>
        <div class="container-fluid justify-content-center">
            <div class="col-sm-15">
                <p style="font-family:Garamond,serif; font-size: 18px; text-align:center">
                    <b>@Html.DisplayNameFor(model => model.Nume):</b>
                    @Html.DisplayFor(model => model.Nume)
                </p>
            </div>
            <div class="col-sm-15">
                <p style="font-family:Garamond,serif; font-size: 18px;text-align:center">
                    <b>Adresă:</b>
                    @Html.DisplayFor(model => model.Adresa)
                </p>
            </div>
            <div class="col-sm-15">
                <p style="font-family:Garamond,serif; font-size: 18px; text-align:center">
                    <b>Nr. de telefon:</b>
                    @Html.DisplayFor(model => model.NrTelefon)
                </p>
            </div>
            <div class="col-sm-15">
                <p style="font-family:Garamond,serif; font-size: 18px;text-align:center">
                    <b>E-mail:</b>
                    @Html.DisplayFor(model => model.Email)
                </p>
            </div>
            <div class="col-sm-15">
                <p style="font-family:Garamond,serif; font-size: 18px; text-align:center">
                    <b>ID Cămin: </b>
                    @Html.DisplayFor(model => model.IdCaminNavigation.IdCamin)
                </p>
            </div>
        </div>
        <div class="mx-auto mb-2">
            <a class="create_button" asp-action="Edit" asp-route-id="@Model.IdAdmin">Editează</a>
            <a asp-action="Index" class="create_button">Înapoi</a>
        </div>
    </div>
</div>
