@model AplicatieCamine.Models.Camere

@{
    ViewData["Title"] = "Delete";
}

<link rel="stylesheet" href="~/css/styleTable.css">

<div class="container-fluid d-flex justify-content-center mb-auto">
    <div class="cardCreate">
        <div class="card-header header-elements-inline ml-50 justify-content-center">
            <h5 style="font-family:Garamond,serif; font-size: 40px"><b>Sigur vrei să ștergi?</b></h5>
        </div>
        <div class="container-fluid justify-content-center">
            <div class="col-sm-15">
                <p style="font-family:Garamond,serif; font-size: 18px; text-align:center">
                    <b>@Html.DisplayNameFor(model => model.NrCamera):</b>
                    @Html.DisplayFor(model => model.NrCamera)
                </p>
            </div>
            <div class="col-sm-15">
                <p style="font-family:Garamond,serif; font-size: 18px;text-align:center">
                    <b>@Html.DisplayNameFor(model => model.NrStudentiCazati):</b>
                    @Html.DisplayFor(model => model.NrStudentiCazati)
                </p>
            </div>
            <div class="col-sm-15">
                <p style="font-family:Garamond,serif; font-size: 18px; text-align:center">
                    <b>@Html.DisplayNameFor(model => model.Descriere):</b>
                    @Html.DisplayFor(model => model.Descriere)
                </p>
            </div>
            <div class="col-sm-15">
                <p style="font-family:Garamond,serif; font-size: 18px;text-align:center">
                    <b>@Html.DisplayNameFor(model => model.LimitaNrStudenti):</b>
                    @Html.DisplayFor(model => model.LimitaNrStudenti)
                </p>
            </div>
            <div class="col-sm-15">
                <p style="font-family:Garamond,serif; font-size: 18px; text-align:center">
                    <b>@Html.DisplayNameFor(model => model.IdCaminNavigation): </b>
                    @Html.DisplayFor(model => model.IdCaminNavigation.IdCamin)
                </p>
            </div>
        </div>
        <div class="mx-auto mb-2">
            <form asp-action="Delete">
                <input type="hidden" asp-for="IdCamera" />
                <input type="submit" value="Șterge" class="btn btn-danger" />
            </form>
        </div>
        <a class="ml-5"asp-action="Index">Înapoi</a>
    </div>
</div>
