@model AplicatieCamine.Models.Camere

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Camere</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LimitaNrStudenti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LimitaNrStudenti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrStudentiCazati)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrStudentiCazati)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descriere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descriere)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrCamera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrCamera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCaminNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCaminNavigation.IdCamin)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCamera" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
