@model IEnumerable<AplicatieCamine.Models.Camere>
@using System.Text.Json;
@{
    ViewData["Title"] = "Index";
    var serializer = Json.Serialize(Model);
}
<link rel="stylesheet" href="~/css/styleTable.css">
<style>
    main {
        flex-direction: column;
    }

    .create_button {
        border: none;
        color: white;
        background-color: #008CBA;
        padding: 5px 15px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        transition-duration: 0.6s;
        margin: 5px 0 5px 10px;
    }
</style>
<div class="container-fluid d-flex justify-content-center mb-auto">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 style="font-family:Garamond,serif;font-size: 40px">Camere</h5>
            <div class="mb-2">
                <a asp-action="Create" class="create_button">Adaugă!</a>
                <a asp-controller="Home" asp-action="Index" class="create_button">Înapoi</a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            ID Cameră
                        </th>
                        <th>
                            Limita Nr. Studenți
                        </th>
                        <th>
                            Nr. Studenți Cazați
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Descriere)
                        </th>
                        <th>
                            Nr. Cameră
                        </th>
                        <th>
                            ID Cămin
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdCamera)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LimitaNrStudenti)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NrStudentiCazati)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descriere)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NrCamera)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdCaminNavigation.IdCamin)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.IdCamera">Editeză</a> |
                                <a asp-action="Details" asp-route-id="@item.IdCamera">Detalii</a> |
                                <a asp-action="Delete" asp-route-id="@item.IdCamera">Șterge</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
