@model IEnumerable<AplicatieCamine.Models.Student>
@using System.Text.Json;
@{
	ViewData["Title"] = "Index";
	var serializer = Json.Serialize(Model);
}

<style>
	main {
		flex-direction: column;
	}

	.create_button {
		border: none;
		color: white;
		background-color: #008CBA;
		padding: 5px 15px;
		text-align: center;
		text-decoration: none;
		font-size: 16px;
		cursor: pointer;
		transition-duration: 0.6s;
		margin: 5px 0 5px 10px;
	}

	.show{
		color: darkcyan;
		text-decoration: underline;
		font-size: 16px;
	}

	.show:hover{
		cursor: pointer;
		color: blue;
		text-shadow: 2px 2px 2px black;
	}
</style>

@section Scripts{
	<script>
        $(document).ready(function () {
            i = 0;
			content = $("#tbody-student");
			listaStudenti = @serializer;
			loadMore();
            $("#more").click(function (event) {
                loadMore();
			});
			$("#less").click(function (event) {
				loadLess();
			});
		});

        function loadMore() {
            var pana_la = (i + 20 < listaStudenti.length ? i + 20 : listaStudenti.length);
			for (j = i; j < pana_la; j++) {
                content.append(displayStudent(listaStudenti[j]));
                i += 1;
            }
        }

        function loadLess() {
            var pana_la = (i - 20 > 0 ? i - 20 : 0);
			var childs = content.children();
			for (var j = childs.length - 1; j >= pana_la; j--) {
				childs[j].remove();
				i -= 1;
			}
        }

        function displayStudent(student) {
			row = "<tr>";
			delete student["idCameraNavigation"];
			delete student["tichet"];
			delete student["dataCazare"];
			student_values = Object.values(student);
			for (var pos = 0; pos < student_values.length; pos++) {
				row += "<td>" + student_values[pos] + "</td>";
			}
			row += "<td><a asp-action='Edit' asp-route-id='" + student.idStudent + "'>Editeaza</a> | <a asp-action='Details' asp-route-id='" + student.idStudent + "'>Detalii</a> | ";
			row += "<a asp-action='Delete' asp-route-id='" + student.idStudent + "'>Sterge</a> </td>";
			row += "</tr>";
			return row;
		}

	</script>
}

<div class="container-fluid d-flex justify-content-center mb-auto">
	<div class="card">
		<div class="card-header header-elements-inline">
			<h5 style="font-family:Garamond,serif;font-size: 40px">Studenți</h5>
			<div class="mb-2">
				<a asp-action="Create" class="create_button">Adaugă!</a>
				<a asp-controller="Home" asp-action="Index" class="create_button">Înapoi</a>
			</div>
		</div>

		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>
							@Html.DisplayNameFor(model => model.IdStudent)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Nume)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Prenume)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Facultate)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Varsta)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Adresa)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Email)
						</th>
						<th>
							IdCamera
						</th>
						<th>NrCamera</th>
					</tr>
				</thead>
				<tbody id="tbody-student">
				</tbody>
				<tr>
					<td colspan="4">
						<p id="less" class="show"> LESS </p>
					</td>
					<td colspan="4">
						<p id="more" class="show"> MORE </p>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>