@model AplicatieCamine.Models.Camine

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Camine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrCamere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrCamere)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrLocuriNormale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrLocuriNormale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrLocuriErasmus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrLocuriErasmus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrLocuriSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrLocuriSocial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Facultate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Facultate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCamin">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
